{% extends "base.html" %}

{% block content %}
  {{ super() }}

  <script>
    window.addEventListener('load', function() {
        WaveDrom.ProcessAll();
    });
  </script>

  <script>
    var language = "{{ i18n_page_file_locale }}";
    if (language === "None") {
      language = "zh";
    }
    var prefix = "";
    var suffix = "";
    if (language === "zh") {
      prefix = "图 ";
      suffix = "：";
    } else {
      // en
      prefix = "Fig ";
      suffix = ": ";
    }
    /* prepend the counter to the figcaption content */
    var styles = `figure figcaption:before { content: "${prefix}" counter(figureCounter) "${suffix}" }`;

    var styleSheet = document.createElement("style")
    styleSheet.innerText = styles
    document.head.appendChild(styleSheet)
  </script>
{% endblock %}


